<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1><i>Insertion of webpage data using Model forms</i></h1>
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset style="width: fit-content;">

              {{WMFO.as_p}}
              <input type="submit" value="insert_webpage">
  
            </fieldset>
        </form>
    </center>
</body>
</html>